@theme "theme"

configuration {
	font: "Noto Sans 24";
	fullscreen: true;
	show-icons: false;
	terminal: "urxvt";
	sidebar-mode: false;

	timeout {
		action: "kb-cancel";
		delay:  0;
	}

	filebrowser {
		directories-first: true;
		sorting-method:    "name";
	}
}

